:root {
  --color--btn-delete: #d95d5d;
  --color--background-task: #f3f3f3;
  --color--border-footer: #a59c9c;
  --color--text-todolist: #9e9e9e;
  --color--btn-active: #ce7070;
  --color--btn-delete: #be5555;
  --color-scroll-line: #d0e6ed;
  --color-scroll: #64996a;
}

body {
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 35rem;
}

ul {
  width: 100%;
}

.input {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  width: 80%;
}

.input button {
  margin-left: 1rem;
  font-size: 20px;
}

.btn-delete {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.task {
  margin-bottom: 1rem;
}

.task.completed span {
  text-decoration: line-through;
}

.task label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: var(--color--background-task);
}

.delete {
  background: var(--color--btn-delete) !important;
}

.menu {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: var(--color--background-task);
  border: 1px solid var(--color--border-footer);
  color: var(--color--text-todolist);
  margin-top: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  width: 100%;
}

.menu span {
  width: 100%;
}

.navigation a {
  padding: 3px 10px;
  margin: 5px;
  color: var(--color--text-todolist);
  border: 1px solid var(--color--background-task);
}

.active {
  border: 1px solid var(--color--btn-active) !important;
  border-radius: 5px;
}

.todoList {
  width: 100%;
}

.display {
  display: none;
}

.list {
  overflow-y: auto;
  max-height: 320px;
  margin-bottom: 0;
}

.list::-webkit-scrollbar {
  width: 7px;
  background: linear-gradient(0deg, var(--color-scroll-line),var(--color-scroll-line)), linear-gradient(0deg, var(--color-scroll-line), var(--color-scroll-line)), var(--color-scroll-line);
}
 
.list::-webkit-scrollbar-thumb {
  background: var(--color-scroll); 
  border-radius: 10px;
}
